.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.button
{
    width:100px;
    height:30px;
    background:transparent;
    border:2px solid white;
    border-radius:6px;
    font-family:'Montserrat', sans-serif;
    color:white;
    font-size:1em;
    font-weight:400;
    line-height:1.6em;
    transition: all 0.2s;
}

.button:hover
{
    background:white;
    color:gray;
    cursor:pointer;
}

.button:focus
{
    outline:none;
}
